<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pendler_Wettervorhersage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pendler_Wettervorhersage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Pendler_Wettervorhersage.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>8bf4ac9e7cd94cbb976213723242712</value>
            </setting>
        </Pendler_Wettervorhersage.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Pendler_Wettervorhersage.Properties.Settings>
            <setting name="WorkPlaceLat" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkPlaceLon" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkPlaceTimeStart" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkPlaceTimeEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkPlaceLocation" serializeAs="String">
                <value />
            </setting>
        </Pendler_Wettervorhersage.Properties.Settings>
    </userSettings>
</configuration>