<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pendler_Wettervorhersage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pendler_Wettervorhersage.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>8bf4ac9e7cd94cbb976213723242712</value>
            </setting>
            <setting name="WorkplaceLat" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkplaceLon" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkplaceStartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkplaceEndTime" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkplaceLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="HometownLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="HometownStartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="HometownEndTime" serializeAs="String">
                <value />
            </setting>
        </Pendler_Wettervorhersage.Properties.Settings>
    </userSettings>
</configuration>